# Backend
MONGO_URI=mongodb+srv://USERNAME:PASSWORD@YOUR_CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=lactovision
JWT_SECRET=CHANGE_THIS_IN_PHASE_2

# Frontend
VITE_API_URL=http://localhost:8000/api
